@model IEnumerable<MobileShop.Models.Products>

@{
    ViewData["Title"] = "ProductList";
}


<h2>Product List</h2>
<p>
    <a asp-action="AddNewProduct">Create New</a>
</p>
<table class="table" id="dtable">
    <thead>
        <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.ProductCode)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>*@
                @*<th>
                    @Html.DisplayNameFor(model => model.ModelNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SerialNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Iemino)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryCode)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)<span class="outStock badge bg-danger " data-id="@item.ProductCode"></span> <span class="saleCount text-success pull-right" data-id="@item.ProductCode">0</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iemino)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryCode)
            </td>
            <td>
               
                @Html.ActionLink("", "ProductDetail", new { ProductCode=item.ProductCode }, new { @class = "btn-sm btn-success glyphicon glyphicon-info-sign", @title = "Detail" })

                @Html.ActionLink("", "EditProduct", new { ProductCode = item.ProductCode }, new { @class = "btn-sm btn-warning glyphicon glyphicon-edit", @title = "Edit" }) 

                @Html.ActionLink("", "DeleteProduct", new { ProductCode=item.ProductCode }, new { @class = "btn-sm btn-danger glyphicon glyphicon-trash", @title = "Delete" })
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
<script>
    $(document).ready(function () {
        $('#dtable').DataTable();

        $('.saleCount').each(function () {
            //test
            var sp = $(this);

            $.ajax({
                before: function () { },

                url: '/Products/ProductSaleCountAjax',
                type: 'GET',
                data: {
                    ProductCode: sp.data('id')

                },
                success: function (result) {

                    sp.text("(" +result + " Sold)" );
                    //$(this).load()
                },
                error: function () { },
                after: function () { }
            });

        });

        $('.outStock').each(function () {
            //test
            var st = $(this);

            $.ajax({
                before: function () { },

                url: '/Products/ProductOutOfStockCheck',
                type: 'GET',
                data: {
                    ProductCode: st.data('id')

                },
                success: function (result) {

                    st.text(result);
                    //$(this).load()
                },
                error: function () { },
                after: function () { }
            });

        });
    });

    type="text/javascript">function add_chatinline(){var hccid=97452151;var nt=document.createElement("script");nt.async=true;nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);}
add_chatinline(); 

</script>
}