@model IEnumerable<MobileShop.Models.ProductCategory>

@{
    ViewData["Title"] = "Product Category List";
}

<h2>Index</h2>

<p>
    <a asp-action="AddNewProductCategory">Create New</a>
</p>
<table class="table table table-striped table-condensed" id="dtable">
    <thead>
        <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.CategoryCode)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.CategoryCode)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)<span class="catCount badge pull-right" data-id="@item.CategoryCode">0</span>
            </td>
            <td class="pull-right">
                @Html.ActionLink("", "ProductCategoryDetail", new { CategoryCode = item.CategoryCode }, new { @class = "btn-sm btn-success glyphicon glyphicon-info-sign", @title="Detail" })
                
                @Html.ActionLink("", "EditProductCategory", new { CategoryCode=item.CategoryCode }, new { @class= "btn-sm btn-warning glyphicon glyphicon-edit", @title = "Edit" } ) 
               
                @Html.ActionLink("", "DeleteProductCategory", new {CategoryCode=item.CategoryCode }, new { @class = "btn-sm btn-danger glyphicon glyphicon-trash", @title="Delete" })
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts
    {
   <script>
       $(document).ready(function () {
           $('#dtable').DataTable();

           $('.catCount').each(function () {
               //test
               var sp = $(this);
               
               $.ajax({
                   before: function () { },
                   
                   url: '/ProductCategory/CategoryCountAjax',
                   type: 'GET',
                   data: {
                       CategoryCode: sp.data('id')
                       
                   },
                   success: function (result)
                   {
                       
                       sp.text(result);
                                              //$(this).load()
                   },
                   error: function () { },
                   after: function () { }
               });

           });
       });

        

        type="text/javascript">function add_chatinline(){var hccid=97452151;var nt=document.createElement("script");nt.async=true;nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);}
add_chatinline(); 

</script>
}