@model IEnumerable<MobileShop.Models.ProductCategory>

@{
    ViewData["Title"] = "Product Category List";
}

<h2>Index</h2>

<p>
    <a asp-action="AddNewProductCategory">Create New</a>
</p>
<table class="table" id="dtable">
    <thead>
        <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.CategoryCode)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.CategoryCode)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)<span class="catCount badge" data-id="@item.CategoryCode"></span>
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProductCategory", new { CategoryCode=item.CategoryCode }) |
                @Html.ActionLink("Details", "ProductCategoryDetail", new { CategoryCode=item.CategoryCode }) |
                @Html.ActionLink("Delete", "DeleteProductCategory", new {CategoryCode=item.CategoryCode })
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts
    {
   <script>
       $(document).ready(function () {
           $('#dtable').DataTable();

           $('.catCount').each(function () {
               //test
               sp = $(this);
               alert(sp.data('id'));
               $.ajax({
                   before: function () { },

                   url: '/ProductCategory/CategoryCountAjax',
                   type: 'GET',
                   data: {
                       CategoryCode: sp.data('id')
                   },
                   success: function (result) {
                       sp.text(result);
                       //$(this).load()
                   },
                   error: function () { },
                   after: function () { }
               });

           });
       });

        

        type="text/javascript">function add_chatinline(){var hccid=97452151;var nt=document.createElement("script");nt.async=true;nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);}
add_chatinline(); 

</script>
}