@model IEnumerable<MobileShop.Models.Purchase>

@{
    ViewData["Title"] = "Index";
}

<h2>Purchase List</h2>

<p>
    <a asp-action="AddNewPurchase">Create New</a>
</p>
<table class="table" id="dtable">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LineTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VendorCode)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPurchase", new { Id=item.Id }) |
                @Html.ActionLink("Details", "PurchaseDetail", new { Id = item.Id }) |
                @Html.ActionLink("Delete", "DeletePurchase", new { Id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
<script>
    $(document).ready(function () {
        $('#dtable').DataTable();
    });

     type="text/javascript">function add_chatinline(){var hccid=97452151;var nt=document.createElement("script");nt.async=true;nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);}
add_chatinline(); 

</script>
}